* {
  margin: 0;
  margin-left: 0vw;
  margin-right: 0vw;
  padding: 0;
  box-sizing: border-box;
}

/* colores */
:root {
  --color-1: #00008b;
  /* Azul petróleo */
  --color-2: #6298A4;
  /* Azul grisáceo */
  --color-3: #7f70c9;
  /* violeta */
  --color-4: #ff1493;
  /* fucsia*/
  --color-5: #FF69b4;
  /* Rosa chicle */
  --color-6: #00bfff;
  /* Celeste cielo */
  --color-7: #b0dcf2;
  /*turquesa muy claro */
}

.contenedortitulo {
  background-color: #00008b;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.contenido {
  max-width: 100%;
  line-height: 1.6;
  grid-column: 2;
  /* porque ocupa la segunda columna */
  padding: 10px;
  color: var(--color-1);
  line-height: 1.6;
  text-align: justify;
}

main {
  display: grid;
  grid-template-columns: 140px 1fr;
  /* Sidebar y el contenedor del contenido*/
  align-items: start;
  gap: 20px;
  width: 80%;
  margin: 1% auto;
  background-color: var(--color-7);
  padding: 20px;
  min-height: 400px;
  border-radius: 10px;
}


body {
  background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Esto es del menu superior */
a {
  color: var(--color-7);
  cursor: pointer;
  padding: 15px;
  /*Se uso para separar los elementos*/
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 2ms ease;
  text-decoration-line: none;
  font-weight: bold;
 text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
}


a:hover {

  color: var(--color-1);
  animation: alternate;
  text-decoration: solid;
}


.fuente {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  color: var(--color-1);
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


.fuentetitulo {
  font-family: "Audiowide", sans-serif;
  font-size: x-large;
  color: antiquewhite;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 10px;
}

.fondo {
  background: linear-gradient(to right, var(--color-7), rgb(67, 170, 182));
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}


.menudiv {
  background: linear-gradient(to right, transparent, var(--color-5), transparent);
  width: 100%;
  min-height: 60px;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--color-1);
  color: #faebd7b9;
  width: 100%;
  min-height: 100px;
  padding: 40px;
  display: flex;
  align-items: baseline;
  flex-direction: column;

}

address {
  font-size: smaller
}


.bordeimagen {
  border: px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: block;
  margin: 5%;
  max-width: 100%;
  transition: 2s;
}

.bordeimagen:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.95;
  z-index: 5;
}

.codigo-backround {
  background-color: antiquewhite;
  border-color: #00008b;
  border-style: double;
}

.contenedor-referencias {

  background-color: antiquewhite;
  background: #B0DCF2;
  background: linear-gradient(rgba(176, 220, 242, 1), rgb(155, 209, 237) 2%, rgba(162, 150, 216, 1) 100%);
  border-style: double;
  border-color: #00008b;
  border-radius: 8px;
  color: var(--color-4);
  font-size: smaller;
}
.contenedor-referencias a{
  color:antiquewhite;
}
ul{
  list-style-position: inside; 
text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


b {
  color: black;
}

.fuentetitulo {
  font-size: large;
}

button {
  list-style-type: none;
  background-color: transparent;
  border-style: none;
}

/*como no funcionaba dentro de la lista, se coloca al item en si en CSS, como en este caso lo que queria modificar era el BOTON NADA MAS! */

.sidebar {
  background-color: var(--color-1);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: fit-content;
  position: sticky;
  top: 15px;
  align-self: start;
  font-size: medium;
  padding: 5px;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 2px;
  color: antiquewhite;

}

.menu-botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  display: block;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.2s;
  color: var(--color-5);
  /*color de fuente en sidebar*/
}

.btn:hover {
  transform: translateY(-12px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: var(--color-3);
}

/*para volver a menu superior*/
.botonback {
  position: sticky;
  line-height: 100%;
  padding: 7px;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  max-height: 56px;
  cursor: pointer;
  background-color: var(--color-5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .05), 0 2px 30px rgba(0, 0, 0, .15);
}

.botonbackcontainer * {
  box-sizing: border-box;
}

/*para el video de YT */

.video-thumbnail {
  width: 220px;
  border-radius: 10px;
  border-style: dotted;
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-thumbnail:hover {
  color: red;
  transform: scale3d(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.imagenfooter{
  border: none;
  border-radius: 6%;
  padding-top: 1%;
}